@import "layout.scss";

.tit{color:green; font-weight:bold;font-size:40px;padding-left: 370px;height: 100px;line-height: 100px;background:url(../images/button.png) no-repeat}
.banner1{height: 716px;background: url(../images/bg_lPic.jpg) no-repeat center top;}
